.main-box { 
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.main-box .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    
}
